<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'simplemde.min' %>
  <%= javascript_include_tag 'simplemde.min' %>
  <style>
  body, html {
    font-family: sans-serif;
    font-size: 16px;
  }
  </style>

  <script>

    window.addEventListener("message", function(event){
      window.noteText = event.data.text;
      window.noteId = event.data.id;
      if(window.simplemde) {
        window.simplemde.value(window.noteText);
      }
    }, false);

    document.addEventListener("DOMContentLoaded", function(event) {

      window.parent.postMessage({status: "ready"}, '*');

      window.simplemde = new SimpleMDE({
         element: document.getElementById("editor"),
         spellChecker: false,
         status: false,
       });

      window.simplemde.value(window.noteText);
      simplemde.codemirror.on("change", function(){
        if(window.parent != window) {
          window.parent.postMessage({text: simplemde.value(), id: window.noteId}, '*');
        }
      });
    });

  </script>
</head>
<body>
<textarea id="editor"></textarea>
</body>
</html>
