<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/swift.min.js"></script>
  <style>
  body, html {
    font-family: sans-serif;
    font-size: 16px;
  }
  </style>

  <script>

    window.addEventListener("message", function(){
      window.noteText = event.data.text;
      window.noteId = event.data.id;
      if(window.simplemde) {
        window.simplemde.value(window.noteText);
      }
    }, false);

    document.addEventListener("DOMContentLoaded", function(event) {

      window.parent.postMessage({status: "ready"}, '*');

      window.simplemde = new SimpleMDE({
         element: document.getElementById("editor"),
         renderingConfig: {
            codeSyntaxHighlighting: true,
          },
         spellChecker: false,
         status: false,
       });

      window.simplemde.value(window.noteText);
      simplemde.codemirror.on("change", function(){
        if(window.parent != window) {
          window.parent.postMessage({text: simplemde.value(), id: window.noteId}, '*');
        }
      });
    });

  </script>
</head>
<body>
<textarea id="editor"></textarea>
</body>
</html>
