<%= javascript_include_tag 'markdown-it.min' %>
<%= javascript_include_tag 'markdown-it-footnote.min' %>
<%= javascript_include_tag 'highlight.min' %>
<%= stylesheet_link_tag 'highlight' %>

<div id="simple-markdown">
  <textarea id="editor"></textarea>
  <div id="column-resizer"></div>
  <div id="preview">
  </div>
</div>
